.App {
  text-align: center;
}

/* .Apartments-Table {
  border-collapse: collapse;
}

.Apartments-table-headers span {
  padding-right: 1%;
  font-size: smaller;

}

.Apartments-table-rows tr {
  border: 2px black solid;
} */
